<div id="cookie-consent-banner" class="cookie-consent-banner">
    <strong>IMPORTANTE</strong>
    <p>
        Durante a interação com o site pode ocorrer uso de dados e cookies.</p>
        <p> Ao continuar a navegar, você concorda com a nossa <a href="privacy/policy" style="color: #a7d7a9;">Política de Privacidade</a>.
    </p>
    <button id="accept-cookie-btn">Entendi</button>
</div>