<div id="cookie-consent-banner" class="cookie-consent-banner">
    <p >
        Nós usamos cookies para melhorar sua experiência de navegação. Ao continuar a navegar, você concorda com a nossa <a href="privacy/policy" style="color: #a7d7a9;">Política de Privacidade</a>.
      
    </p>
    <button id="accept-cookie-btn">Entendi</button>
</div> 