
    <footer>
        <p>&copy; 2025 - ONG Amor Animal Marilia.</p>
        <a href="https://www.instagram.com/grupoamoranimal/?hl=pt"><img src="/static/css/favicon/insta.png"></a>
        <a href="https://api.whatsapp.com/send?phone=5514998151723&text=ONGAmor%20Animal"><img src="/static/css/favicon/whats.png"></a>
    </footer>
    

</html>