
    <footer>
        <p>
        &copy; 2025 - ONG Amor Animal Marilia.
        <a href="https://www.instagram.com/grupoamoranimal/?hl=pt" target="_blank"><img src="/static/css/favicon/insta.png"></a>
        <a href="https://api.whatsapp.com/send?phone=5514998151723&text=ONGAmor%20Animal" target="_blank"><img src="/static/css/favicon/whats.png"></a>
        <a href=" https://web.facebook.com/amoranimal190/?_rdc=1&_rdr" target="_blank"><img src="/static/css/favicon/face.png"></a>
    </p>
        </footer>
    <script  src="/static/js/style.js"></script>
    <script src="/static/js/general.js"></script>
     <script src="/static/js/teste.js"></script>
    <script src="/static/js/foto.js"></script>
    <script src="/static/js/phone.js"></script>
    <script src="/static/js/doacao.js"></script>
    <script src="/static/js/table.
    js"></script>
    <script src="/static/js/whats.js"></script>
    <script src="/static/js/cookies,js"></script>
    <script src="/static/js/adote.js"></script>
    <footer>
        <spam style="font-size: small;">All social media in this footer is the responsibility of their respective owners.</spam>
    </footer>
     
</body>

</html>