<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>ONG Amor Animal Marilia.</title>
<link rel="stylesheet" href="/static/css/default.css">
<link rel="icon" type="image/png" href="/static/css/favicon/ong.ico">
</head>

<header>  
     <nav>
       
        <a class=".logo" href="./home"> <img src="/static/css/imagem/ong.jpg" /></a>
        <div class="mobile-menu">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
           <ul class="nav-list">
            <li><a href="/home"> Inicio </a></li>
            <li> <a href="/adocao"> Adoção </a></li>
            <li><a href="/castracao"> Castração </a></li>
            <li><a href="/doacao"> Doação </a></li>
            <li><a href="/procura_se"> Procura_se </a> </li>
            <li><a href="/parceria"> Parceria </a> </li>
            <li><a href="/sobre"> Sobre</a> </li>           
        </ul>
    </nav>
   
</header>
<main></main>
<div class="scroll-watcher"></div>
<body>
<center>
   