  <!DOCTYPE html>
  <html lang="pt-br">
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>ONG Amor Animal Marilia.</title>
      <link rel="stylesheet" href="/static/css/default.css">
      <link rel="icon" type="image/png" href="/static/css/favicon/ong.ico">
     
  </head>   
  
  <body> 
  <main class="main-content">
   


    <button  type="button"  iid="high-contrast-toggle" class="btn btn-accessibility" onclick="toggleHighContrast()"  ><img src="/static/css/favicon/contrast.png" alt="Alternar Alto Contraste"></button>
  <!-- _header.ejs -->
  <header class="main-header"> <!-- Added class for potential specific header styling -->
      <div class="nav-container"> <!-- Container for logo, toggle, and nav -->
       
        <img src="/static/css/imagem/ong.jpg" alt="Logo ONG AMOR ANIMAL MARILIA" />
        <div class="user-info">
          <% if (user) { %>
            <span class="welcome-message">Olá, <%= user.username %>!</span>
            <a href="./logout" class="logout-button">Sair</a>
          <% } else { %>
            <a href="/auth/login" class="login-button">Login</a>
         
          <% } %>
        </div>
       <!-- /home/wander/amor.animal2/views/_header.ejs -->
     
       
      </div> <!-- Fechamento do nav-container -->
      <!-- Navegação Principal -->
      <div class="nav-wrapper"> <!-- Added a wrapper for nav and user info -->
          <nav class="main-nav">
              <ul class="nav-list" id="main-nav-list">         

                  <li><a href="/home">Início</a></li>
                  <li><a href="/adocao">Adoção</a></li>
                  <li><a href="/castracao">Castração</a></li>
                  <li><a href="/doacao">Doação</a></li>
                  <li><a href="/procura_se">Procura-se</a></li>
                  <li><a href="/parceria">Parceria</a></li>
                  <li><a href="/sobre">Sobre</a></li>

              </ul>
          </nav>
        </div> <!-- Fechamento do nav-wrapper -->
  </header>


     
    
    
    
 