<!DOCTYPE html>
  <html lang="pt-br">
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>ONG Amor Animal Marilia.</title>
      <link rel="stylesheet" href="/static/css/default.css">
      <link rel="icon" type="image/png" href="/static/css/favicon/ong.ico">
     
  </head>
  <body>