<%- include("_header") -%>
    <div class="center">
        <h1> JÁ  ADOTADOS! </h1>
    </div>
    <div class="container">
        <div class="photobanner ">
            <img src="/static/uploads/1.png" alt="nome" />
            <img src="/static/uploads/h7a3hkhg.png" alt="hacking" />
            <img src="/static/uploads/nina.jpeg" alt="nina" />
        </div>
    </div>

    
    <div class="center">
        <ul>
            <li><a href="./adote"> Adote </a></li>
        </ul>
    </div>

    

    <%- include("_footer")-%>