<%- include("_header") -%>
    <div class="center">
        <h1> ADOTE! </h1>
    </div>
    <div id='slides' class="center">
       </div>
    <div class="container">
        <a href="./adote"><div class="photobanner ">
            <img src="/static/uploads/adocoes/nina.jpeg" alt="Nina" />
            <img src="/static/uploads/adocoes/OIP (1).jpeg" alt="Nina" />      
                
        </div></a>
    </div>

    <div class="artigo">
        <h1> ADOTADOS!</h1>
    </div>
    <div class="center">
        <ul>
            <li><a href="./form_adotados"> Adicionar</a></li>
        </ul>
    </div>
    
 <script   type="javascript/text"    src="/js/alert.js"></script>
    <%- include("_footer")-%>