   <%- include("_header") -%>
 
       <!-- elemento central -->
    <div class="center">
        
        <input type="text" id="busca" name="busca" />
        <input type="button" id="button" value="ok" />
        <h1> ADOÇÃO! </h1>
        <h1> Cadastrar um PET...</h1>
        <h1> ....Ou AJUDAR a encontrar um lar para algum!</h1>
        <h1>Cadastrar Pet</h1>
    </div>
        <!--Formulário-->
        <div class="artigo">
            <form action=" " enctype="multipart/form-data" method="post" >
                <input  type="file" id="arquivos" name="arquivo" required>
                <input type="text" placeholder="Nome do Pet" id="nomePet" name="nomePet" required>
                <input type="number" placeholder="Idade" id="idadePet" name="idadePet">
                <fieldset>
                    <legend>Espécie</legend>
                    <input type="radio" id="especie" name="especie" value="canino">
                    <label for="canino">Canino</label>
                    <input type="radio" id="especie" name="especie" value="felino">
                    <label for="felino">Felino</label>
                </fieldset>
                <fieldset>
                    <legend>Porte</legend>
                    <input type="radio" id="porte" name="porte" value="pequeno">
                    <label for="pequeno">Pequeno</label>
                    <input type="radio" id="porte" name="porte" value="medio">
                    <label for="medio">Médio</label>
                    <input type="radio" id="porte" name="porte" value="grande">
                    <label for="grande">Grande</label>
                </fieldset>
                <textarea id="caracteristicas" name="caracteristicas" rows="4" cols="20"
                    placeholder="Caracteristicas"></textarea>
                <input type="text" placeholder="Tutor" id="tutor" name="tutor" required>
                <input type="email" placeholder="Email do Responsável" id="contato" name="contato" required>
                <input type="submit" value="Cadastrar" class="btn btn-default" onclick="confirm('Os dados estão atualizados?')"> 
            </form>
        </div>  
    

   
    

 
    <script src="/js/alert.js"></script>
    
    <%- include("_footer")-%>
