<%- include("_header") -%>
    <!-- elemento central -->
    <div class="center">
        <input type="text"  id="busca" name="busca" />
        <input type="button" id="button" value="ok" />
        
        <h1> ADOÇÃO! </h1>
        <h1> Cadastrar um PET...</h1>
        <h1> ....Ou AJUDAR a encontrar um lar para algum!</h1>
        <!--   artigo -->
        <h1>Cadastrar Pet</h1>
    </div>
      <!--Formulário-->
    <form action="" method="post" class="artigo" enctype="multipart/form-data">
        <input type="file"  id="arquivo" name="arquivo" placeholder="imagem">
        <input type="text" placeholder="Nome do Pet" id="nomePet" name="nomePet">
        <input type="number" placeholder="Idade" id="idadePet" name="idadePet">
        <fieldset>
            <legend>Espécie</legend>
            <input type="radio" id="especie" name="especie" value="canino">
            <label for="canino">Canino</label>
            <input type="radio" id="especie" name="especie" value="felino">
            <label for="felino">Felino</label>
        </fieldset>
        <fieldset>
            <legend>Porte</legend>
            <input type="radio" id="porte" name="porte" value="pequeno">
            <label for="pequeno">Pequeno</label>
            <input type="radio" id="porte" name="porte" value="medio">
            <label for="medio">Médio</label>
            <input type="radio" id="porte" name="porte" value="grande">
            <label for="grande">Grande</label>
        </fieldset>
        <textarea id="caracteristicas" name="caracteristicas" rows="4" cols="20" placeholder="Caracteristicas"></textarea>
        <input type="text" placeholder="Nome do Responsável" id="tutor" name=" tutor">
        <input type="email" placeholder="Email do Responsável" id="contato" name="contato">
        <button type="submit" id="submit" name="submit" onclick="alert()">Cadastrar</button>
    </form>
   
   <script type="text/javascript" src="/script/alert.js"></script>
                <%- include("_footer")-%>