<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ONG Amor Animal</title>
    <link rel="stylesheet"  href="/static/css/default.css" >
    <link rel="icon" type="image/png" href="/static/css/favicon/favicon.ico">
   <link rel="manifest" href="/static/css/favicon/site.webmanifest">
</head>
<body>
    <!--  menu -->       
    <nav class="menu">
        <span >ONG GRUPO AMOR ANIMAL MARILIA</span>  
     </nav>  
   <nav class="menu">    
    <a href="/home"> <button>Inicio</button> </a>
    <a href="/adocao"> <button>Adoção</button> </a>
    <a href="/doacao"> <button>Doação</button> </a>
    <a href="/castracao"> <button>Castração</button> </a>
    <a href="/resgate"> <button>Resgate</button> </a>
    <a href="/parceria"> <button>Parceria</button> </a>   
    </nav>

   <!--  elemento central -->
    <div class=center>
        <h1>CASTRAÇÃO! </h1>
  
    </div>
<!-- artigo -->
    <div class="artigo">
        <h1> Cuide de um PET....</h1>
        <h1> ....DOE ração, tempo voluntariado ou como preferir!</h1>
    </div>


    
   
    
</body>
</html>
