<%-include("_header")-%>
<div class="artigo">
    <form action="./form_adotante" method="get">
    <input type="text" name="cep" id="cep" placeholder=" CEP 00000-000" onblur="()" maxlength="8" />     
  <input type="text" placeholder="Endereço " id="endereco"  name="endereco" />
  <input type="number" placeholder="Número" id="numero"  name="numero" />
  <input type="text" placeholder="Complemento: casa, fundos, apto n*" id="complemento"  name="complemento" />
  <input type="text" placeholder="Bairro" id="bairro"  name="bairro"   />
  <input type="text" placeholder="Cidade" id="cidade"  name="cidade"   />
  <input type="text" placeholder="Estado" id="estado"  name="estado"  /> <br> 
  <button type="submit">CEP</button>
  </form>
</div>

    
<%-include("_footer")-%>