<%- include("_header")-%>
    <!--  elemento central -->
    <div class="home">
        <h1> DOAÇÃO! </h1>

    </div>

    <!-- artgo -->
    <div class="artigo">
        <h1>Cuide de um PET....</h1>
        <h2>DOE ração, tempo voluntariado ou como preferir!</h2>
        <p>Doe ração, medicamentos, produtos de higiene e limpeza, jornais, cobertores,  casinhas, 
            coleiras, guias e outros itens que possam ajudar a cuidar dos animais. 
            Você também pode ajudar com doações em dinheiro para a compra de ração e medicamentos.</p>
    </div>

    <div class="artigo">
        <button><a href="./form_doe">Adicionar</a></button>  
      </div>    

   
    <%- include("_footer")-%>