<%- include("_header")-%>
    <!--  elemento central -->
    <div class=center>
        <h1> DOAÇÃO! </h1>

    </div>

    <!-- artgo -->
    <div class="artigo">
        <h1> Cuide de um PET....</h1>
        <h1> ....DOE ração, tempo voluntariado ou como preferir!</h1>
    </div>

    <div class="center">
        <ul>
            <li><a href="./form_doe"> Adicionar </a></li>
        </ul>
    </div>
    <%- include("_footer")-%>