<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/css/default.css">
  <title>System Error</title>
</head>
<body>
  <div class="error">
    <h1> Pagina de Erro:</h1>
      <%= error.message %>
</div>
  
</body>
</html>
