<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>System Error</title>
</head>
<body style="background-color: beige;">
 
  
  <div style="display: grid; place-items: center; height: 100vh;"> 
    <div style="display: inline-block; background-color: #f0f0f0; border-radius: 10px; text-align: center; padding: 20px; white-space: pre-line;">  
    <h1> Pagina de Erro:</h1>
      <%= error.message %>
</div>
</div>
  
</body>
</html>
