<%- include("_header") -%>
<div class="center">
    <h1>Interessados em Castração</h1>
</div>
<div class="artigo">
     <button><a href="./castracao">Cancelar</a></button>
       <form action="" enctype="multipart/form-data" method="post">
        <input type="text" name="nome" placeholder="Nome " required/>
        <input type="tel" name="contato" placeholder="Telefone  00-00000-0000" pattern="[0-9]{2}-[0-9]{5}-[0-9]{4}" required />
        <input type="file" name="arquivo" required />
        <input type="reset" value="Limpar" />
        <input type="number" name="idade_pet" placeholder=" Idade Pet" />
        <select name="especie">
            <option value="">Espécie</option>
            <option value="felino">Felino</option>
            <option value="canino">Canino</option>
        </select>
        <select name="porte">
            <option value="">Porte</option>
            <option value="pequeno">Pequeno</option>
            <option value="medio">Medio</option>
            <option value="grande">Grande</option>
        </select>
        <textarea name="obs" rows="4" cols="20" placeholder="Observações Pet"></textarea>
        <input type="submit" value="Cadastrar" class="btn btn-default"
            onclick="confirm('Os dados estão atualizados?')">
    </form>

</div>



    <%- include("_footer")-%>