<%- include("_header") -%>
<div class="home">
    <h1>Cadastro de Adoção</h1> 
</div>
<div class="artigo">
    <button><a href="./adocao">Cancelar</a></button>  
  </div>

    <div class="artigo">
  
      <form action=" " enctype="multipart/form-data" method="post">
        <img id="frame" src="" width="100px" height="100px" alt="carregando..."/>
        <br>
      <input type="file" name="arquivo" onchange="preview()" required>   
      <input type="reset" value="Limpar" onclick="document.getElementById('frame').src=''" />
  
          <input type="text" placeholder="Nome  Pet" id="nomePet" name="nomePet" required>
          <input type="number" placeholder="Idade Pet" id="idadePet" name="idadePet">
          <select id="especie" name="especie">
              <option value="" required>Especie</option>
              <option value="canino">Canino</option>
              <option value="felino">Felino</option>
          </select>
          <select id="porte" name="porte">
              <option value="">Porte</option>
              <option value="pequeno">Pequeno</option>
              <option value="medio">Medio</option>
              <option value="grande">Grande</option>
          </select>
          <textarea id="caracteristicas" name="caracteristicas" rows="4" cols="20"
              placeholder="Caracteristicas Pet"></textarea>
          <input type="text" placeholder="Nome Responsável" id="tutor" name="tutor" required>
          <input  type ="tel"  name="contato" id="phone" onInput="this.value = phoneFormat(this.value)"  placeholder="Telefone (00) 00000- 0000" required/>   
          <select name="whatsapp" id="whatsapp">
            <option value=" ">Whatsapp</option>
            <option value="sim">Aceito</option>
            <option value="nao">Não</option>  
          </select>
            <input type="submit" value="Cadastrar" class="btn btn-default"
              onclick="confirm('Os dados estão atualizados?')">
      </form>
  </div>
  <a href="/relatorio/adocao" class="btn btn-primary mt-3">Gerar Relatório</a>
  
  <%- include("_footer")-%>