<%- include("_header")-%>
<div class="home">
  <h1>Parceria</h1>
</div>
<div class="artigo">
  <button><a href="./home"> Cancelar</a>
  </button>
</div>
<div class="artigo">
    <form action="" method="post">
    <input type="text" name="empresa" placeholder="Empresa"  required/>
    <input type="text" name="localidade" placeholder="Localidade" />
   <textarea name="proposta" rows="4" cols="20" placeholder="Proposta"></textarea>
    <input type="text" name="representante" placeholder="Representante" required/>
      <input   class="show" type ="tel"  name="telefone" id="phone" onInput="this.value = phoneFormat(this.value)"  placeholder="Telefone (00) 00000- 0000" required/>
      <select name="whatsapp" id="whatsapp">
        <option value=" ">Whatsapp</option>
        <option value="sim">Aceito</option>
        <option value="nao">Não</option>  
    <input type="email" name="email"  placeholder="Email"/> 
        

        <input type="submit" value="Cadastrar" class="btn btn-default"
       
            onclick="confirm('Os dados estão atualizados?')">
    </form>
</div>
<h2>Testes</h2>
<a href="https://api.whatsapp.com/send?phone=5514981305888&text=Hello20%World">Send Message</a>
<div>
  <h3>whatsapp send app </h3>
  <h6>add number without space like 17272912606 not <strike>+1 (727) 2912606 </strike></h6>
  <input id="number" type="numric" placeholder="phone 966506666666">
  <input id="name" type="text" placeholder="name">
  <input id="msg" type="text" placeholder="type msg">
  <button onclick="send_handle()">send</button>
</div>
  
  
<%- include("_footer")-%>
