<%- include("_header")-%>
<div class="center">
  <h1> Doações</h1>
</div>
<div class="artigo">
  <button><a href="./home">Cancelar</a></button>  
</div>
<div class="center">  
        <div class="show"  tabindex="2">
       <p>Suporte</p>
    </div>        
        
    <div class="hidde">
    <p>Exclusivo: PIX CNPJ 40.472.777.0001.73</p> 
     <Img src="/static/css/imagem/qrcodepix.png" />
    </div>

    <div class="show"  tabindex="2">
     <p>Horas Voluntarias</p>
  </div>          
      
  <div class="hidde">
  <p> Por favor, entre em contato com nossos canais de atendimento.</p>
  <input type="text" placeholder="nome" />
  </div>
 
</div>

    
<%- include("_footer")-%>