<%- include("_header") -%>
<div class="center">
    <ul>
        <li><a href="./adocao"> Cancelar </a></li>
    </ul>
</div>
<div class="artigo">
  <h1> Cadastro de Interesse</h1>
    <form action=" " enctype="multipart/form-data" method="post">
      <input type="text" placeholder="Nome" id="tutor" name="tutor" required>
        <input type="tel" placeholder="Telefone 00-00000-0000" id="contato" name="contato" pattern="[0-9]{2}-[0-9]{5}-[0-9]{4}" required />     
        <select id="especie" name="especie">
            <option value="" required>Especie</option>
            <option value="canino">Canino</option>
            <option value="felino">Felino</option>
        </select>
        <select id="porte" name="porte">
            <option value="">Porte</option>
            <option value="pequeno">Pequeno</option>
            <option value="medio">Medio</option>
            <option value="grande">Grande</option>
        </select>
          <input type="submit" value="Cadastrar" class="btn btn-default"
            onclick="confirm('Os dados estão atualizados?')">
    </form>
</div>
<%- include("_footer")-%>