<%- include("_header") -%>
<div class="center">
    <ul>
        <li><a href="./adocao"> Cancelar </a></li>
    </ul>
</div>
<div class="artigo">
  <h1> Cadastro de Interesse</h1>
    <form action=" " method="post">
      <input type="text" placeholder="Nome" id="tutor" name="tutor" required/>
      <input  type ="tel"  name="contato" id="phone" onInput="this.value = phoneFormat(this.value)"  placeholder="Telefone (00) 00000- 0000" required/>              
          <input type="submit" value="Aceitar" class="btn btn-default"
            onclick="confirm('Os dados estão atualizados?'), recado()">
    </form>
</div>


<%- include("_footer")-%>