<%- include("_header")-%>
<div class="artigos">
    <h1>Histórias de adoção..</h1>
    <form action=" " enctype="multipart/form-data" method="post">
      <img id="blah" src="#" alt="your image" /> 
      <input type="file" name="foto" onchange="readURL(this)"  required/>         
        <input type="reset" value="Limpar" />
        <input type="text" placeholder="Nome  Pet" id="nomePet" name="nomePet" required>
        <input type="text" placeholder="Nome  Tutor" id="nomeTutor" name="nomeTutor" required>
        <textarea id="historia" name="hisoria" rows="4" cols="20"
        placeholder="Historia"></textarea>
</div>
<script type="javascript/text" src="/js/image.js"></script>
<%- include("_footer")-%>