<%- include("_header")-%>
<div class="home">
  <h1>Parceria</h1>
</div>
<div class="artigo">
  <a href="./home" class="link-cancelar"> Cancelar</a>
</div>
<div class="artigo">
  <form action="" method="post" class="form-parceria">
    <div class="form-group">
      <input type="text" name="empresa" placeholder="Empresa" class="form-control" required/>
    </div>
    <div class="form-group">
      <input type="text" name="localidade" placeholder="Localidade" class="form-control"/>
    </div>
    <div class="form-group">
      <textarea name="proposta" rows="4" placeholder="Proposta" class="form-control"></textarea>
    </div>
    <div class="form-group">
      <input type="text" name="representante" placeholder="Representante" class="form-control" required/>
    </div>
    <div class="form-group">
      <input type="tel" name="telefone" id="phone" onInput="this.value = phoneFormat(this.value)" placeholder="Telefone (00) 00000-0000" class="form-control" required/>
    </div>
    <div class="form-group">
      <select name="whatsapp" id="whatsapp" class="form-control">
        <option value=" ">Whatsapp</option>
        <option value="sim">Aceito</option>
        <option value="nao">Não</option>
      </select>
    </div>
    <div class="form-group">
      <input type="email" name="email" placeholder="Email" class="form-control"/>
    </div>
    <input type="submit" value="Cadastrar" class="btn-incluir" onclick="return confirm('Os dados estão atualizados?')"/>
  </form>
</div>
  
<%- include("_footer")-%>
