<%- include("_header")-%>
   <!--  elemento central -->
   
    <h1>Inicio</h1>

 
    <div class="artigo">
        <span> Oportunidade de  contar como tudo começou ...!   </span>
        <p>A ONG Amor Animal, que agrega trabalho de voluntários para abrigo e proteção de animais de rua em Marília, lançou campanha de arrecadação de recursos e doações de ração para manter atendimento a cerca de 250 gatos.

            A ONG é dirigida pela cuidadora Jaqueline Vasconcelos, ativista da causa animal que começou o trabalho com grande abrigo em sua casa, próxima ao centro da cidade, mas precisou ampliar o atendimento em função do número de animais resgatados.
           
           A instituição recebeu recentemente o título de instituição sem fins lucrativos, o que permite suporte fiscal e participação em mais ações de arrecadação de recursos.
           
        </p>
    </div>
    <div class="artigo">
        <span> E refletir sobre o futuro...!   </span>
        <img   src="/static/css/imagem/ong2.jpg">
        <p> A Nossa ONG começou...</p>
    </div>
    <%- include("_footer")-%>
