<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ONG Amor Anima l</title>
    <link rel="stylesheet" href="/static/css/default.css" >
    <link rel="icon" type="image/png" href="/static/css/favicon/ong.ico">
   <link rel="manifest" href="/static/css/favicon/site.webmanifest">
</head>
<body>
     <!--  menu -->
     <header class="center">
        <input type="checkbox" hidden id="mobile-menu-toggle">
        <!--         Menu sandwich example
 --><!--         <label for="mobile-menu-toggle" class="mobile-menu-toggle-label">&#9776;</label>
 --> <label for="mobile-menu-toggle" class="mobile-menu-toggle-label"><img src="/static/css/imagem/ong.jpg"></label>
        <nav class="mobile-menu">
            <ul>
                <li><a href="/home"> Inicio </a></li>
                <li> <a href="/adocao"> Adoção </a></li>
                <li><a href="/castracao"> Castração </a></li>
                <li><a href="/resgate"> Resgate </a></li>
                <li><a href="/doacao"> Doação </a></li>           
                <li><a href="/parceria"> Parceria </a> </li>
                <li><a href="/sobre"> Sobre</a> </li>
            </ul>
            </ul>
        </nav>
    </header>
   <!--  elemento central -->
   
    <h1>Inicio</h1>

 
    <div class="artigo">
        <span> Oportunidade de  contar como tudo começou ...!   </span>
        <p>A ONG Amor Animal, que agrega trabalho de voluntários para abrigo e proteção de animais de rua em Marília, lançou campanha de arrecadação de recursos e doações de ração para manter atendimento a cerca de 250 gatos.

            A ONG é dirigida pela cuidadora Jaqueline Vasconcelos, ativista da causa animal que começou o trabalho com grande abrigo em sua casa, próxima ao centro da cidade, mas precisou ampliar o atendimento em função do número de animais resgatados.
           
           A instituição recebeu recentemente o título de instituição sem fins lucrativos, o que permite suporte fiscal e participação em mais ações de arrecadação de recursos.
           
        </p>
    </div>
    <div class="artigo">
        <span> E refletir sobre o futuro...!   </span>
        <img   src="/static/css/imagem/ong2.jpg">
        <p> A Nossa ONG começou...</p>
    </div>
    
    
 
       
    
</body>
</html>
