 <link rel="stylesheet" href="/static/css/default.css">
<link rel="icon" type="image/png" href="/static/css/favicon/ong.ico"> 
    

 
<div class="container">
   <a href="/" class="btn btn-primary">Voltar para a página inicial</a>
</div>
<div class="container-conteudo-sem-cabecalho">
    <h1> É necessário ser Administrador.</h1>
<a href="/auth/login">Entre</a>
</div>
<%-include('_footer')-%>
