 <link rel="stylesheet" href="/static/css/default.css">
<link rel="icon" type="image/png" href="/static/css/favicon/ong.ico"> 
    

  <a href="/" class="btn btn-primary">Voltar para a página inicial</a>
<div class="container">
    <h1> É necessário ser Administrador.</h1>
<a href="/auth/login">Entre</a>
</div>
<%-include('_footer')-%>
