<!DOCTYPE html>
 <html>
 <head>
     <title>Login</title>
     <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <!-- Removido título duplicado, mantendo o do _header ou um específico -->
     <link rel="stylesheet" href="/static/css/default.css">
     <link rel="icon" type="image/png" href="/static/css/favicon/ong.ico">
    
 </head>
 <body>
    

<a href="/home">Return</a>
<div class="container">
    <h1> É necessário ser Administrador.</h1>
<a href="/auth/login">Entre</a>
</div>
<%-include('_footer')-%>
