<link rel="stylesheet" href="/static/css/default.css">
<link rel="icon" type="image/png" href="/static/css/favicon/ong.ico">
 <a href="/" class="btn btn-primary">Voltar para a página inicial</a>
 
<div class="container mt-5">
<div class="row justify-content-center">
<div class="col-md-6">
<div class="card">
<div class="card-header">
<h3 class="text-center">Acesso ao Sistema</h3>
</div>
<div class="card-body">
<form action="/auth/login" method="post"> <!-- Adicione a action correta -->
<div class="mb-3">
    <label for="usuario" class="form-label">Usuário:</label> <!-- Corrigido 'for' para 'usuario' -->
    <input type="text" id="usuario" name="usuario" class="form-control" required>
</div>

<div class="mb-3">
    <label for="senha" class="form-label">Senha:</label> <!-- Corrigido 'for' para 'senha' -->
    <input type="password" id="senha" name="senha" class="form-control" required>
    <!-- Adicionar checkbox para mostrar/ocultar senha -->
  <div class="mb-3 form-check" >
            <input type="checkbox" class="form-check-input" id="mostrarSenha" onclick="togglePasswordVisibility()">
            <label class="form-check-label" for="mostrarSenha">Mostrar Senha</label>
        </div>
       

<div class="d-grid">
    <button type="submit" class="btn btn-primary">Login</button>
</div>
</form>
<% if (typeof error !== 'undefined' && error) { %>
<div class="alert alert-danger mt-3"><%= error %></div>
<% } %>
</div>
<div class="card-footer text-center">
<p class="mb-0">
<!--  Adicione um link para uma página de registro, se necessário -->
<!-- <a href="/register">Não tem uma conta? Registre-se</a> -->
</p>
</div>
</div>
</div>
</div>
</div>

<%-include("_footer")-%>
