<%-include("_header")-%>
<div class="container">
    <h1>Você esta desconectado.</h1>
    <p>Obrigado por visitar. Esperamos vê-lo novamente em breve.</p>
    <a href="/" class="btn btn-primary">Voltar para a página inicial</a>
</div>

<%-include("_footer")-%>