<link rel="stylesheet" href="/static/css/default.css">
<div class="container">
    <h1> Administrador desabilitado.</h1>
    
    <a href="/" class="btn btn-primary">Voltar para a página inicial</a>
</div>

<%-include("_footer")-%>