<%-include("_header")%>
    
    <div style="display: grid; place-items: center; height: 100vh;"> 
        <div style="display: inline-block; background-color: #f0f0f0; border-radius: 10px; text-align: center; padding: 20px; white-space: pre-line;">  
            <h2>Wander Hayashida</h2>
            <img src="/static/css/imagem/me.jpeg" alt="Wander" width="100px" height="100px">     
            <p>Sou Wander Hayashida, tenho 43 anos,  estudante de Engenharia de Computação na UNIVESP - Polo Marilia - SP.</p>
            <p>Este trabalho faz parte da disciplina de Estágio de Engenharia de Computação no 10* semestre 2025 onde pude desenvolver habilidades técnicas de Desenvolvimento Web Full Stack</p>
        </div>        
    </div> 
    <footer style="text-align: center; padding: 20px; background-color: #f0f0f0; position: sticky; bottom: 0; width: 100%;">
        <p>&copy; 2025 Wander Hayashida</p>
        <p>Desenvolvedor Web Full Stack</p>
        <a href="https://www.linkedin.com/in/wrhayash"><img src="/static/css/favicon/linkedin2.png" width="25px" height="25px"></a>
    </footer>                                                                             
</body>
</html>