<%- include("_header")-%>
    <!--  elemento central -->
    <div class="home">
        <h1> PARCERIA! </h1>
    </div>

    <!-- artigo -->
    <div class="artigo">
        <h1> Quer fazer parte da causa PET?...</h1>
        <h1> ....Saiba como a sua CONTRIBUIÇÃO pode ajudar!</h1>
              <p>Se você tem uma empresa e quer ajudar a ONG Amor Animal, entre em contato conosco! </p>
    </div>
    <div class="artigo">
        <button><a href="./form_parceria">Adicionar</a></button>  
      </div>    
    <div class="artigo">
    <p>Estas são as empresas que nos apoiam:</p>
    <div class="container">
        <div class="photobanner">
            <% for(const parceria of model){ %>
                <h2><%=parceria.proposta %></h2>
                
            
                <h1  style="color: red; font-size: 50px; display:inline; padding-left: 30px;" ><%=parceria.empresa %></h1>
               
                
                <% } %>        
        </div>
    </div>
    </div>

  
    <%- include("_footer")-%>