<%- include("_header")-%>
    <!--  elemento central -->
    <div class=center>
        <h1> PARCERIA! </h1>
    </div>

    <!-- artigo -->
    <div class="artigo">
        <h1> Quer fazer parte da causa PET?...</h1>
        <h1> ....Saiba como a sua CONTRIBUIÇÃO pode ajudar!</h1>
        <h1>....Procure nossos canais.</h1>
    </div>
    <div class="artigo">
    <p>Estas são as empresas que nos apoiam:</p>
    <div class="container">
        <div class="photobanner">
            <% for(const parceria of model){ %>
                <h1  style="color: red; font-size: 50px; display:inline; padding-left: 30px;" ><%=parceria.empresa %></h1>
                
                <% } %>        
        </div>
    </div>
    </div>

        <div class="center">
            <ul>
                <li><a href="./form_parceria"> Adicionar </a></li>
            </ul>
        </div>        
    <%- include("_footer")-%>