<%-include("_header")%>

<div style="display: grid; place-items: center; height: 100vh;">
  <div style="display: inline-block; background-color: #f0f0f0; border-radius: 10px; text-align: center; padding: 20px; white-space: pre-line;">
   
  <h1>Política de Privacidade</h1>
  <p>
    Esta Política de Privacidade descreve como coletamos, usamos e protegemos as informações pessoais dos usuários do nosso site. Ao acessar ou usar nosso site, você concorda com a coleta e uso de suas informações de acordo com esta política.
  </p>  
  <p>
    Nossa política de privacidade visa proteger a sua privacidade e garantir que as informações pessoais que nos fornece sejam tratadas de forma segura e transparente. Nós coletamos seu nome, endereço de e-mail e outras informações para fornecer nossos serviços. Seus dados são utilizados para personalizar a sua experiência e para enviarmos informações relevantes. Seus dados são armazenados de forma segura e protegidos por medidas de segurança adequadas. Você tem o direito de acessar, corrigir e excluir seus dados. Caso tenha alguma dúvida, entre em contato conosco
  </p>
    <p>
        Esta Política de Privacidade pode ser atualizada periodicamente. Recomendamos que você revise esta política regularmente para se manter informado sobre como protegemos suas informações pessoais.
    </p>
    <p>
        Se você tiver alguma dúvida ou preocupação sobre esta Política de Privacidade, entre em contato conosco através do nosso e-mail de contato.
    </p>    
    <p> Desenvolvedor:</p>
    <p><a href="./me" target="_blank">Wander Hayashida</a>  </p>
        
        <p> <a href="mailto: wrhbra1@hotmail.com?subject=PrivacyPolilcy">Entre em contato por e-mail. </a> </p>   
        <p style="text-align: right; text-decoration: dashed ;">Marília, <%= new Date().toLocaleDateString('pt-BR', { year: 'numeric', month: '2-digit', day: '2-digit' }) %>.</p>
  </div> 
  </div>  
  
  
 
  
</body>
</html>
         