<%- include("_header")-%>
    <!--  elemento central -->
    <div class=center>
        <h1> PROCURA-SE! </h1>
    </div>

    <!-- artigo -->
    <div class="artigo">
        <h1> Quer encontar um  PET desaparecido?...</h1>
        <h1> ....ANUNCIE, nossa rede voluntária gostaria de ajudar!</h1>
    </div>
    <%- include("_footer")-%>