<div class="artigo">
     <% var model; %>
     <!-- <iframe class="artigo" name="myiframe" src="/results"></iframe> -->
     <% for (let i = 0; i < model.length; i++) { %>
         <li><%= model[ i ] %></li>
     <% } %>
  </div>