<%- include("_header")-%>

<main class="main-content">
    <section id="sobre-page" class="section-sobre-page">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="sobre-content">
                        <h2>Sobre Nós</h2>
                        <p>A ONG Amor Animal é uma organização dedicada ao resgate, cuidado e proteção de animais abandonados. Trabalhamos incansavelmente para garantir que cada animal tenha uma segunda chance em um lar amoroso.</p>
                        <p>Nossa equipe é formada por voluntários apaixonados por animais, que dedicam seu tempo e esforço para fazer a diferença na vida de cada um deles.</p>
                        <p>Além do resgate e adoção, também promovemos a conscientização sobre a importância da posse responsável e do respeito aos animais.</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="sobre-image">
                        <img src="/static/css/imagem/ong2.jpg" alt="Imagem da ONG Amor Animal" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="container mt-4 mb-5">
        <div class="text-center">
            <h1>Quer fazer parte da causa PET?</h1>
            <p class="lead">Saiba como a sua CONTRIBUIÇÃO pode ajudar!</p>
        </div>
        <div class="text-center">
            <h2>Procure nossos canais.</h2>
         
        </div>
    </div>

    
</main>

    <%- include("_footer")-%>