<%- include("_header")-%>

    <!--  elemento central -->
    <div class="box">
        <h1> SOBRE! </h1>
    </div>

    <!-- artigo -->
    <div class="container mt-4 mb-5">
        <h1> Quer fazer parte da causa PET?.</h1>
        <h2> Saiba como a sua CONTRIBUIÇÃO pode ajudar!</h2>
        <h2>Procure nossos canais.</h2>        
    </div>

    <a href="/form_home" class="btn btn-primary">Noticias</a>
   
      


    <%- include("_footer")-%>