<%- include("_header")-%>

    <!--  elemento central -->
    <div class=center>
        <h1> SOBRE! </h1>
    </div>

    <!-- artigo -->
    <div class="artigo">
        <h1> Quer fazer parte da causa PET?...</h1>
      <h1>
        Este é um projeto voluntário, aberto e colabotativo, seu objeto é alcançar o pleno desenvolvimento entre as partes, cumprindo a sua missão atender as necessidades da causa animal.
      </h1>
       
    </div>
    
    
      


    <%- include("_footer")-%>