<%- include("_header")-%>

    <!--  elemento central -->
    <div class=center>
        <h1> SOBRE! </h1>
    </div>

    <!-- artigo -->
    <div class="artigo">
        <h1> Que fazer parte da causa PET?...</h1>
        <h1> ....Saiba como a sua CONTRIBUIÇÃO pode ajudar!</h1>
    </div>
    
    
      


    <%- include("_footer")-%>