
 html {
  margin: 0; 
  padding: 0;
  /* background-image: url('/static/css/imagem/ong3.png'); */
  position: flex;
 
} 

body{
  font-family: arial, helvetica, sans-serif;
  font-size: 12px;  
  font-weight: bolder;
  background-image: url('/static/css/imagem/ong3.png'); 
  background-position-x:left;
   background-repeat: no-repeat; 
   position: flex;
  }
  header{
    background-color:  rgba(241, 234, 234, 0.5);
  }
  
 img{
    margin: 0px auto;
    font-family: arial, helvetica, sans-serif;
    font-size: 18px;      
    font-weight: bolder;
    color: rgb(12, 7, 49);
    text-align: center;
    display:flex;
    }

    .mobile-menu-toggle-label {
      display: block;
      cursor: pointer;
      font-size: 24px;
      text-align: right;
      }
    
    .mobile-menu {
      display: none;
       position: flex;
       flex-direction: row;
       background-color: none;
       text-align: right;
       padding: 10px;
       border: 1px solid #ddd;

        }
    
    .mobile-menu ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }
    
    .mobile-menu li {
      margin-bottom: 10px;
    }
    
    .mobile-menu a {
      text-decoration: none;
      color: #3340b7;
    }
    
    #mobile-menu-toggle:checked + .mobile-menu-toggle-label + .mobile-menu {
      cursor: pointer;
      font-size: medium;
      display:block;      
      }

  
 /* elemento central */
  .artigo{
     font-size: 12px;
     font-weight: bolder;
      text-align: center;
      overflow-y: auto;
      display: inline        
  }
  

 
  iframe{
       height: 100%;
       width: 100%;
       border: 0px;
       display:block;
      overflow: hidden;
      position: absolute;
  }       
  
  
      
  
     table{
      border: 1px solid;
      text-align: center;
      margin: 0px auto;
      text-align: center;
      font-size: medium;
      font-weight: bolder;
     
  }
     
    
     table thead{
      color:rgb(45, 77, 219);
     }
   
 
 